<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto tfg</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></link>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <style>
      .gradient-custom {
            background: #6a11cb;
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
      }
      .profile-container {
            margin-top: 20px; /* Adjust as needed */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .profile-info {
            margin-bottom: 20px;
        }
        .videos-comments-container {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .videos {
          margin-top: 20px;
            flex: 1;
        }
        .comments {
          margin-top: 20px;
            flex: 1;
            display: none; /* Ocultar por defecto los comentarios */
        }
  </style>
  <script src="../js/perfil.js"></script>
  </head>
<body>
  <!-- BARRA DE NAVEGACIÓN -->
  <nav class="navbar bg-body-tertiary fixed-top bg-primary-subtle gradient-custom">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="/inicio.html">
        <img src="../images/logo.png" alt="Logo" width="80" height="60">
      </a>

      <!-- Botón de hamburguesa -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú desplegable -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/inicio.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/perfil">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categorías</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis Cursos</a>
            </li>
          </ul>
          </br>
          </br>
          <!-- Botón de cerrar sesión -->
          <div class="">
            <a class="btn btn-danger w-100 text-light" href="/">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<br><br><br><br>

<!-- PROFILE INFO -->
<div class="profile-container">
  <div class="row">
    <div class="col">
      <img src="../images/perfil.png" alt="Logo" width="60" height="60">
    </div>
    <div class="col profile-info">
      <h1><%= nombreUsuario %></h1>
    </div>
  </div>

  <!-- Botones para alternar entre videos y comentarios -->
  <div class="d-flex justify-content-center mt-3">
    <a id="videos-btn" class="btn btn-primary me-3">Videos</a>
    <a id="comments-btn" class="btn btn-primary">Comentarios</a>
  </div>

  <!-- VIDEOS & COMMENTS -->
  <div class="videos-comments-container">
    <!-- Videos -->
    <div class="videos">
      <h2>Videos</h2>
      <!-- Aquí va el contenido de los videos -->
    </div>

    <!-- Comments -->
    <div class="comments">
      <h2>Comentarios</h2>
      <!-- Aquí va el contenido de los comentarios -->
    </div>
  </div>
</div>


</body>
</html>