.results-list {
  width: 18.5%; /* Asegura que tenga el mismo ancho que el contenedor padre */
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 0.5rem; /* Ajusta el espacio entre el buscador y los resultados */
  max-height: 300px;
  overflow-y: auto;
  position: absolute; /* Asegura que se posicione sobre otros elementos */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  top: 100%; /* Coloca el contenedor justo debajo del buscador */
  left: 43.7%; /* Alinea a la izquierda del contenedor padre */
}
